@using School.WEB.Extensions

@{ var operation = (OperationResult<string>)ViewBag.Result;}

@if (operation != null)
{
    var statusMessageClass = operation.Success ? "success" : "danger";
    
    <div class="alert alert-@statusMessageClass js-alert-operation-result" role="alert">
        @operation.Result
    </div>
    
    if (operation.Success)
    {
        <script type="text/javascript">
            setTimeout(function () {
                document.getElementsByClassName('js-alert-operation-result')[0].remove()
            }, 8000);
        </script>
    }
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img alt="some" src="1.jpg"/>
</div>