@using School.WEB.Extensions

@{
    ViewData["Title"] = "Home Page";
    var operation = ViewBag.Result as OperationResult;
}

<partial name="_OperationMessage" for="@operation"/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img alt="some" src="1.jpg"/>
</div>