@model School.WEB.ViewModels.Visitor.GetClasses.GetClassesViewModel
@using School.WEB.Controllers

@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Classes list</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Details
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Classes)
        {
            <tr>
	            <td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					<a asp-action="@nameof(VisitorController.ClassDetails)" asp-route-id="@item.Id">
						Details
					</a>
				</td>
			</tr>
        }
	</tbody>
</table>
<div>
	<a asp-action="@nameof(VisitorController.Index)">
		Back to categories
	</a>
</div>