@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>This is visitor interface))</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Visitor" asp-action="GetTeachers">All Teachers</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Visitor" asp-action="GetClasses">All Classes</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Visitor" asp-action="GetSubjects">All Subjects</a>