@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Admin page</h2>
<h3>You can Create, Delete, Update, Get one, Get all objects</h3>
<a class="nav-link text-dark" asp-area="" asp-controller="ManageTeacher" asp-action="GetTeachers">
    All Teachers
</a>
<a class="nav-link text-dark" asp-area="" asp-controller="ManageStudent" asp-action="GetStudents">
    All Students
</a>
<a class="nav-link text-dark" asp-area="" asp-controller="ManageClass" asp-action="GetClasses">
    All Classes
</a>
<a class="nav-link text-dark" asp-area="" asp-controller="ManageSubject" asp-action="GetSubjects">
    All Subjects
</a>