@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Admin page</h2>
<h3>You can Create, Delete, Update, Get one, Get all objects</h3>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetTeachers">All Teachers</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetStudents">All Students</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetClasses">All Classes</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetSubjects">All Subjects</a>